Django==1.11.2
django-redis==4.8.0
django-widget-tweaks==1.4.1
-e git+https://github.com/MUCI/usosapi-python@74482224f678a6ceb038563920e02c23e93cebdc#egg=usosapi
tabula-py==0.9.0
django-excel==0.0.6
pyexcel==0.5.0
pyexcel-ods==0.4.0
pyexcel-xlsx==0.4.0
