# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'bbwytgj5hm+g!4c#*8s-tr43hf6u)+_c3m0++)ki&ps*!(udj8'


# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = []


# USOS API
USOS_URL = 'https://apps.usos.uj.edu.pl/'
USOS_CONSUMER_KEY = ''
USOS_CONSUMER_SECRET = ''


from .base import *

