<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block pagetitle %}{% endblock %} — USOS ID Mapper</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'process_pdf' %}">USOS ID Mapper</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item{% block navProcessPDF %}{% endblock %}">
            <a class="nav-link" href="{% url 'process_pdf' %}">PDF</a>
        </li>
        <li class="nav-item{% block navText %}{% endblock %}">
            <a class="nav-link" href="{% url 'process_text' %}">Text</a>
        </li>
    </ul>
</nav>

<div id="main" class="container">
    <h1>{% block title %}{% endblock %}</h1>

    {% block content %}{% endblock %}
</div>
</body>
</html>
