{% extends 'base.html' %}

{% block pagetitle %}Process PDF{% endblock %}

{% block title %}Process PDF{% endblock %}

{% block navProcessPDF %} active{% endblock %}

{% block content %}
    <div class="alert alert-info">
        This mode allows you to process a PDF with a table containing student
        IDs. The table is automatically converted to a CSV/XLSX/ODS file that
        also has student names appended.
    </div>

    <form action="" enctype="multipart/form-data" method="post">
        {% include 'forms/default_form.html' %}
    </form>
{% endblock %}
