{% extends 'base.html' %}

{% block pagetitle %}Process PDF{% endblock %}

{% block title %}Process PDF{% endblock %}

{% block navProcessPDF %} active{% endblock %}

{% block content %}
    <div class="alert alert-info">
        This mode allows you to process a PDF with a table containing student
        IDs. The table is automatically converted to a ODS/XLSX/CSV file that
        also has student names appended.
    </div>

    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {% include "forms/form_field.html" with field=form.file %}

        <div class="form-group">
            <label class="form-control-label" for="id_output_format">Output file format:</label>
            <div class="custom-controls-stacked">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="id_output_format_0" name="output_format" value="ods" checked="checked" required />
                    <label class="custom-control-label" for="id_output_format_0">ODS</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="id_output_format_1" name="output_format" value="xlsx" required />
                    <label class="custom-control-label" for="id_output_format_1">XLSX</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="id_output_format_2" name="output_format" value="csv" required />
                    <label class="custom-control-label" for="id_output_format_2">CSV</label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>
{% endblock %}
